.statistics {
    margin-bottom: 100px;
  }
  
  .title {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  .statlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  .percentage,
.label {
  padding: 8px;
  
}

.percentage {
  font-size: 20px;
}
.itemstat {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    align-items: center;
    box-shadow: 0px 0px 0px 1px #6a6a6a;
    border-radius: 4px;
  }
  